     #map{
        position: absolute;
		width: 98.8%;
        height: 84%;
		border:2px;
			}	
		body {
    background-color: white;
	 
			}	
			
	  #header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
